.candidate-card {
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.50);
  border-radius: $candidate-card__border-radius;
  max-width: 620px;
}

.candidate-card .details {
  margin: 0 40px 0;
  >div {
    padding-top: 10px;
    padding-bottom: 10px;
    h4 {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
}

.candidate-card>.icon {
  margin: 30px;
}