.paragraph {
  font-size: 14px;
  line-height: 18px;
  margin: 0 0 10px 0;

  &.small {
    font-size: 12px;
    line-height: 18px;
    margin: 0 0 6px 0;
  }

  &.large {
    font-size: 16px;
    line-height: 22px;
    margin: 0 0 8px 0;
  }

  &.light {
    color: $font-light;
  }

  &.medium {
    color: $font-medium;
  }

  &.error {
    color: $font-error;
  }

  &.theme {
    color: $theme-main;
  }

  &.semi-bold {
    font-weight: $font-weight-semi-bold;
  }

  &.bold {
    font-weight: $font-weight-bold;
  }

  &.upper {
    text-transform: uppercase;
  }

  &.no-margin {
    margin: 0;
  }

  &.center {
    text-align: center;
  }

  &.inline {
    display: inline-block;
  }
}
