.personal-details .items {
  display: flex;
  flex-wrap: wrap;
  
  >.icon-with-text {
    display: flex;
    flex: 0 50%;
    flex-direction: row;
    min-width: 240px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}