.experience .position {
  display: flex;
  flex: row;
  align-content: center;
  
  >.icon {
    margin-right: 10px;
  }
}

.experience {
  padding-top: 10px;
  >p {
    margin-top: 10px;
    margin-left: 26px;
  }
}