.candidate-card-header {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: white;
  padding: 20px;
  background-image: url('../../../assets/images/grid-pattern-full.png');
  background-repeat: no-repeat;
  background-position-x: center;
  border-top-left-radius: $candidate-card__border-radius;
  border-top-right-radius: $candidate-card__border-radius;
  border-bottom: 1px solid $color-divider;
  >div {
    padding: 20px;
  }
}

.candidate-card-header .biography {
  margin: 0 20px 0;
  padding: 0 20px;
}