$header-height: 60px;
$footer-height: 50px;

$theme-main: #EE4055;
$theme-accent: #00A2CD;

$font-dark: #000000 ; // default font color
$font-medium: #353535;
$font-light: #9A9A9A;

$toned-white: #F7F9FA;

$font-error: #FF865F;

$inactive-button: #D2D7DD;

$font-weight-extra-light: 200;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-weight-black: 900;

$color-divider: #CCCCCC;
$color-table-header: #EEF1F7;
$color-navbar-authorization: #007DD9;

$content-width-narrow: 490px;
$content-width-medium: 715px;
$content-width-standard: 1040px;

// Candidate Card
$candidate-card__border-radius: 8px;
