@import 'mixins';
@import 'variables';

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  height: 100%;
  font-family: 'ArialMT';
  color: $font-dark;
}

* {
  box-sizing: border-box;
  vertical-align: baseline;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  &:focus {
    outline: none;
  }
}


h1,h2,h3,h4,h5,h6 { 
  font-size:100%; 
  font-weight:normal; 
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px
} 
  
body {
  display: flex;
  min-height: 100%;
  background-color: #FFFFFF;
  overflow-x: hidden;
  overflow-y:scroll;
  margin: 0;
  padding: 0;
  min-width: 320px;
}

.flex-row {
  display: flex;
  flex-direction: row;

  &.space-around {
    justify-content: space-around;
  }
  &.space-between {
    justify-content: space-between;
  }
  &.flex-end {
    justify-content: flex-end;
  }
  &.y-center {
    align-items: center;
  }
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.stretch {
  @extend .flex-column;
  flex-grow: 1;
}

#app {
  @extend .stretch;
}

.relative {
  position: relative;
}

.error {
  color: $font-error !important;
}
