.page__wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;

  .content {
    display: flex;
    flex-grow: 1;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
  }
}
