.page__content {
  width: 100%;
  max-width: $tablet-max-width;
  margin: 0 auto;
  padding: 50px 50px 100px 50px;

  @include responsive(mobile) {
    max-width: $tablet-min-width;
    padding: 50px 15px;
  }

  &.narrow {
    max-width: $content-width-narrow;

    @include responsive(mobile) {
      max-width: $tablet-min-width;
    }
  }

  &.medium {
    max-width: $content-width-medium;
  }

  &.no-padding {
    padding: 0;
  }

  .empty {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
  }
}
