.candidates-page__content {
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: center;
}

.page-navigation-button__container {
  position: sticky;
  top: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.candidates-page {
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: center;
  .candidate-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .candidate-card {
    margin-top: 20px;
  }
}