.heading {
  color: $font-dark;
  font-size: 34px;
  font-family: 'Arial-Black';
  letter-spacing: 0;
  margin: 0.8em 0;
  &.theme {
    color: $theme-main;
  }
  &.medium {
    color: $font-medium;
  }
  &.light {
    color: $font-light;
  }
  &.weight-light {
    font-weight: $font-weight-light;
  }
  &.weight-bold {
    font-weight: $font-weight-bold;
  }
  &.heading-2 {
    font-size: 30px;
  }
  &.heading-3 {
    font-size: 26px;
  }
  &.heading-4 {
    font-size: 20px;
  }
  &.heading-5 {
    font-size: 16px;
  }
  &.no-margin {
    margin: 0;
  }
  &.inline {
    display: inline
  }
}