.tag {
  font-family: 'HelveticaNeue';
  font-size: 16px;
  padding: 12px 20px;
  border-radius: 25px;
  border:1px solid $theme-accent;
  display: inline-block;
  line-height: 16px;

  .tag-close {
    font-size: 0.75rem;
    margin-left: 0.5rem;
  }

  &.primary {
    color: $theme-accent;
    background-color: white;
  }

  &.grey {
    color: rgba(70, 86, 110, 0.5);
    background-color: #E4E6EB;
  }

  &.warn {
    color: rgb(195, 190, 91);
    background-color: rgba(229, 219, 111, 0.5);
  }

  &.danger {
    color:rgba(110, 70, 70, 0.5);
    background-color:rgba(229, 111, 111, 0.5);
  }

  &.select {
    background-color: $color-divider;
    color: $font-medium;
    border-radius: 4px;
  }
}

