.page-navigation-button {
  width: 80px;
  height: 80px;
  background: $theme-main;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  transition: all .1s ease-in-out;
  cursor: pointer;

  &:hover {
    transform: scale(1.1);
    filter: brightness(120%);
  }
  &:active {
    transform: scale(1);
    filter: brightness(80%);
  }
}

